APP_NAME="mini-Rag"
APP_VERSION="0.1"
DESCRIPTION="A modern, AI-powered customer service system built with FastAPI that leverages Retrieval-Augmented Generation (RAG) to provide intelligent, context-aware responses to customer inquiries."
LICENSE="MIT"
AUTHOR="Youssef Osama"
CONTACT="osama74454@gmail.com"
APPS_DOCS_URL="http://127.0.0.1:8000/docs"
FILE_ALLOWED_EXTENSIONS=["text/plain","application/pdf"]
FILE_MAX_SIZE=10
GEMINI_API_KEY=""